* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.plans-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.card-ultimate {
  width: 250px;
  min-height: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
}
.card-base {
  width: 250px;
  min-height: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.card-pro {
  width: 250px;
  min-height: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
}
