* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.plans-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.card-ultimate {
  width: 300px;
  min-height: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
}
.card-base {
  width: 300px;
  min-height: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.card-pro {
  width: 300px;
  min-height: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
}
h2 {
  font-size: 32px;
}
.amount {
  font-size: 60px;
  font-weight: bold;
}
ul {
  font-size: 20px;
}
.discount {
  padding: 10px;
}
