* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.plans-cards {
  max-width: 900px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
